# Chapter 01. Introduction to Python

## 1. Introduction

In [1]:
import math

In [2]:
math.sqrt(16)

4.0

## 1.4 Review of Basic Python

In [3]:
print("Algorithm and Data Structures")

Algorithm and Data Structures

#### 1.4.1 Getting started with data

* int
* float
* bool

In [6]:
print(2+3*4)
print(2**10) #2^10
print(6/3)
print(7/3)
print(7%3)
print(3/6)
print(3//6) #integer division

14
1024
2.0
2.3333333333333335
1
0.5
0

Identifiers:

In [7]:
the_sum = 0

In [9]:
the_sum = "hello"
the_sum = 1+2+3
print(the_sum)

6

Built-in Collection Data Type:
* List 
    - append,insert pop sort inverse del index count remove

In [10]:
[1,3,"hello",True]

[1, 3, 'hello', True]

In [12]:
my_list = [1,2,3,"hello",True]
my_zero = [0]*5
print(my_list)
print(my_zero)

[1, 2, 3, 'hello', True]
[0, 0, 0, 0, 0]

In [13]:
my_zero.append("append")

In [14]:
my_zero.insert(1,"insert")

In [15]:
my_zero.pop()

'append'

In [16]:
my_zero

[0, 'insert', 0, 0, 0, 0]

In [17]:
my_zero.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
my_zero.pop(1)

'insert'

In [19]:
my_zero.append("12")
del my_zero[1]

In [21]:
my_zero.index("12")

4

In [22]:
my_zero

[0, 0, 0, 0, '12']

In [23]:
my_zero.count(0)

4

In [24]:
(54).__add__(21)

75

* range

In [25]:
range(0,10)

range(0, 10)

In [26]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [28]:
list(range(5,18,3))

[5, 8, 11, 14, 17]

In [29]:
list(range(0,1,0.01)) #Error

TypeError: 'float' object cannot be interpreted as an integer

* String
    - center count ljust lower rjust find split

In [30]:
"David"
my_name = "chenxshuo"

In [31]:
my_name[3]

'n'

In [32]:
my_name * 2

'chenxshuochenxshuo'

In [33]:
len(my_name)

9

In [34]:
my_name.upper()

'CHENXSHUO'

In [35]:
my_name.lower()

'chenxshuo'

In [41]:
my_name.center(50)

'                    chenxshuo                     '

In [43]:
my_name.split("x")

['chen', 'shuo']

In [44]:
my_name[0] = "x" #Error

TypeError: 'str' object does not support item assignment

* Tuple

In [47]:
my_tuple = (2,True,"hello")
print(len(my_tuple))
print(my_tuple[2])
print(my_tuple[0:3])

3
hello
(2, True, 'hello')

* Set
    - in len | & - <=
    - union intersection difference issubset add remove pop clear

In [56]:
my_set = {3,6,True,"hello"}
print(my_set)
print(10 in my_set)

{True, 3, 'hello', 6}
False

In [57]:
your_set = {1,2,3,"nice"}
my_set.union(your_set)

{True, 2, 3, 'hello', 6, 'nice'}

In [58]:
my_set.intersection(your_set)

{1, 3}

* dict
    - in del
    - keys values items get

In [59]:
my_dict = {'a':1,'b':2}

In [60]:
print(my_dict['a'])

1

In [61]:
for k in my_dict:
    print(my_dict[k],k)

1 a
2 b

In [62]:
my_dict.keys()

dict_keys(['a', 'b'])

In [63]:
my_dict.values()

dict_values([1, 2])

In [64]:
my_dict.get("a")

1

In [65]:
del my_dict['a']

In [66]:
my_dict

{'b': 2}

#### 1.4.2 Input and Output
* input function

In [67]:
user_name = input("Please Enter Your Name: ")
print("Your name in all capitals is ", user_name.upper(), " and length is ", len(user_name))

Please Enter Your Name: chenxshuo
Your name in all capitals is  CHENXSHUO  and length is  9

In [70]:
radius = input("Please input the radius of the circle: ")
#diameter = 2 * radius
radius = float(radius)
diameter = 2 * radius
print("The diameter of the circle is ",diameter)

Please input the radius of the circle: 2.5
The diameter of the circle is  5.0

* String Formatting
    - seq , end
    - ,
    - %s d f e E g c 
    - %md %-md %m.nf

In [72]:
print("hello","world",sep="***")
print("hello world",end="***")
print("not new line")

hello***world
hello world***not new line

In [77]:
name = "chenxshuo"
age = 16
print(name,"is", age, "years old")
print("%s is %f years old"%(name,age))

chenxshuo is 16 years old
chenxshuo is 16.000000 years old

In [81]:
item = "apple"
price = 23.9
print("The %s costs %f cents"%(item, price))
print("The %s costs %.2f cents"%(item, price))
print("The %s costs %10.2f cents"%(item, price))

The apple costs 23.900000 cents
The apple costs 23.90 cents
The apple costs      23.90 cents

In [83]:
item_dict = {'item':"apple","price":23.9}
print("The %(item)s costs %(price)7.1f cents"%item_dict)

The apple costs    23.9 cents

#### 1.4.3 Control Structures

* while
* for
* if else elif

In [89]:
counter = 1
while counter <= 5:
    print("Hello %s"%counter,end="  ")
    counter+=1

Hello 1  Hello 2  Hello 3  Hello 4  Hello 5

In [90]:
for item in [1,2,3,4]:
    print(item,end=" ")

1 2 3 4

In [91]:
for item in range(5):
    print(item,end=" ")

0 1 2 3 4

In [92]:
for i in "hello":
    print(i,end=" ")

h e l l o

In [88]:
word_list = ["an","apple","given"]
for word in word_list:
    for letter in word:
        print(letter,end=" ")

a n a p p l e g i v e n

In [93]:
n = 10;
if n > 2 :
    print(math.sqrt(n))

3.1622776601683795

In [94]:
score = 90
if score >= 95:
    print("A")
elif score >= 90:
    print("B")
elif score >= 80:
    print("C")

B

In [96]:
sq_list = [x*x for x in range(0,5)]
print(sq_list)

[0, 1, 4, 9, 16]

In [97]:
[ch.upper() for ch in "asdfcsoi" if ch not in "aeiou"]

['S', 'D', 'F', 'C', 'S']

In [101]:
word_list = ['cat','dog','rabbit']
letter_list = []
for word in word_list:
    for letter in word:
        if not letter in letter_list:
            letter_list.append(letter)
print(letter_list)

['c', 'a', 't', 'd', 'o', 'g', 'r', 'b', 'i']

#### 1.4.4 Exception Handling

* Syntax Error
* Logic Error
* Try Except Statement
* raise statement

In [102]:
num = int(input("Input an integer: "))
try:
    print(math.sqrt(num))
except:
    print("Bad value for sqrt")

Input an integer: -2
Bad value for sqrt

In [103]:
num = int(input("Input an integer: "))
if num < 0:
    raise RuntimeError("Bad value")
else:
    print(math.sqrt(num))

Input an integer: -5

RuntimeError: Bad value

#### 1.4.5 Defining Function
* def name():
    ...

In [104]:
def square(n):
    return n**2

In [105]:
square(2)

4

In [113]:
def square(n):
    print("%d^2 = "%(n**2),n**2)

In [114]:
square(2)

4^2 =  4

In [1]:
def square_root(n):
    if n < 0 :
        raise RuntimeError("Bad value")
    root = n/2
    for k in range(20):       
        root = (1/2) * (root + (n/root))
    return root

In [2]:
square_root(-9)

RuntimeError: Bad value

In [40]:
import random
goal = "bad"
goal = list(goal)

In [41]:
letter_list = ['a','b','c','d','e','f','g','h']
def generated(n):
    answer = []
    for i in  range(n) :
        letter = random.randint(0,7)
        answer.append(letter_list[letter])
    return answer

In [42]:
generated(4)

['d', 'b', 'e', 'f']

In [43]:
def compare(answer, target):
    score = 0
    if len(answer) != len(target):
        raise RuntimeError("Not the same length")
    for i in range(len(answer)):
        if answer[i] == target[i]:
            score+=1
    return score / len(answer)

In [44]:
compare(['a','b'],['a','d'])

0.5

In [57]:
all_times = 0
for i in range(1000):
    test_right = False
    times = 1;
    while not test_right:
        answer = generated(3)
        #print("Test %d times"%(times),end=" ")
        times+=1
        if compare(answer,goal) == 1.0:
            test_right = True
            
    all_times += times
        
    
print("Test all 1000 times. Average : %d"%(all_times//1000))
for item in answer:
    print(item,end="")

Test all 1000 times. Average : 505
bad

#### 1.4.6 OOP in Python: Defining Classes

In [58]:
#find the Greatest Common Divisor
def gcd(m,n):
    while m % n != 0:
        old_m = m
        old_n = n
        
        m = old_n
        n = old_m % old_n
    return n

class Fraction:
    #constructor
    def __init__(self, top, bottom):
        self.num = top
        self.den = bottom
    
    def show(self):
        print(self.num,"/",self.den)
    
    #__str__() method like toString() in Java
    def __str__(self):
        return str(self.num)+"/"+str(self.den)
    
    # + method
    def __add__(self,other_fraction):
        new_num = self.num*other_fraction.den + self.den*other_fraction.num
        new_den = self.den * other_fraction.den
        common = gcd(new_num, new_den)
        return Fraction(new_num // common, new_den // common)
    
    def __eq__(self, other):
        first_num = self.num * other.den
        sec_num = other.num * self.den
        return first_num == sec_num
    
    def get_num(self):
        return self.num
    
    def get_den(self):
        return self.den

In [59]:
x = Fraction(1,2)
y = Fraction(2,3)
print(x+y)
print(x == y)

7/6
False